
@import url('https://fonts.googleapis.com/css?family=Roboto');

.box {
	display: flex;
  flex-direction: column;
  text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #212121;
	fill : auto;
	grid-row-start : 2;
  grid-column-start : 2;
	align-self : center;
}

.formResa{
  display : flex;
  flex-direction: column;
  justify-content: space-around;


}




.inputResa {
  box-sizing: border-box;
	font-size: 20px;
	padding: 5px;
	border: 5px solid #FF8054;
	background-color: #fff;
	border-width: 0 0 5px 0;
	outline: none;
  margin: 10px auto;

}

.boutonResa {
  background-color: #FF8054;
  border-radius: 2px;
  padding : 10px 20px;
  color : white;
  font-size: 20px;
  cursor: pointer;
  margin :  auto
}

.eventButtonArea {
	display: flex;
	padding : 20px;
	justify-content: center;
	vertical-align: middle;
}

.eventButton{
  background-color: #3B80FF;
	border : 2px solid transparent;
  border-radius: 2px;
  padding : 10px 20px;
  color : white;
  font-size: 15px;
  cursor: pointer;
  margin :  auto
}

.eventButton:hover{
  border : 2px solid #FF8054;
}

.eventButton:active {
	border : 2px solid #FF8054;
}

.date {
	padding : 20px;
	color : white;
	background-color : #FF8054;
	border-radius : 2px 0 0 0;
	font-weight: 900;
	border : solid 2px #FF8054;
}

.time {
	padding : 20px;
	background-color: #3B80FF;
	color : white;
	border-radius : 0 0 0 2px;
	font-size : 13px;
	border : solid 2px #3B80FF
}

.dateActive {
	padding : 20px;
	color : #FF8054;
	border-radius : 2px 0 0 0;
	font-weight: 900;
	border : solid 2px #FF8054;
}

.timeActive {
	padding : 20px;
	color : white;
	border-radius : 0 0 0 2px;
	font-size : 13px;
	border : solid 2px #3B80FF;
	background-color: #3B80FF;
}
