
@import url('https://fonts.googleapis.com/css?family=Roboto');

.box {
	display: flex;
  flex-direction: column;
  text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #212121;
}

.formResa{
  display : flex;
  flex-direction: column;
  justify-content: space-around;

}

.areaBouton {
  display: flex;
  flex-direction: row;
  padding: 50px;
}

.inputResa {
  box-sizing: border-box;
	font-size: 20px;
	padding: 5px;
	border: 5px solid #FF8054;
	background-color: #fff;
	border-width: 0 0 5px 0;
	outline: none;
  margin: 10px auto;

}

.boutonResa {
  background-color: #FF8054;
  border-radius: 2px;
  padding : 10px 20px;
  color : white;
  font-size: 20px;
  cursor: pointer;
  margin :  auto
}

.eventButton{
  background-color: #3B80FF;
	border : 2px solid transparent;
  border-radius: 2px;
  padding : 10px 20px;
  color : white;
  font-size: 20px;
  cursor: pointer;
  margin :  auto
}

.eventButton:hover{
  border : 2px solid #FF8054;
}

.eventButton:active {
	border : 2px solid #FF8054;
}
